/* Utility class */ 
*{ 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: 'Londrina Solid', cursive; 
} 
.clearfix::after{ 
    display: table; 
    content: ""; 
    clear: both; 
} 
/* /Utility class */ 


/* Bg class */ 
.red, .green, .yellow{ 
    height: 100vh; 
    position: relative; 
} 
.red{ 
    background-color: red; 
}
.green{ 
    background-color: green; 
} 
.yellow{ 
    background-color: yellow; 
} 
/* /Bg class */


/* Button  */
.bottoni{
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 1;
}

.bottoni>a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 30px;
    color: black;
    background-color: white;
    border-radius: 50px;
    margin-right: 20px;
}
/* /Button  */

/* Img_txt class */ 
.shoe_txt{ 
    width: 700px;
    position: absolute; 
    top:50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
}
#shoe1>img, #shoe2>img, #shoe3>img{
    width: 700px;   
}
.text{ 
    text-align: center; 
    font-size: 4rem; 
}
div>p{ 
    color: yellow;
    word-spacing: 30px ;
}
#p_green{ 
    color:green;
} 
/* Img_txt class */